@media only screen and (min-width: 768px) {
  .skin-black .main-header {
    height: 50px;
    background-color: #222; }
    .skin-black .main-header > .logo {
      background-color: #222;
      color: #fff; }
    .skin-black .main-header > .navbar > .sidebar-toggle {
      top: 0;
      color: #333;
      border: none; }
    .skin-black .main-header > .navbar > .navbar-custom-menu {
      top: 0;
      border: none; }
      .skin-black .main-header > .navbar > .navbar-custom-menu .dropdown-toggle {
        border: none !important; }
  .navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    right: 0;
    border-top: none; }
  .navbar-nav > .user-menu > .dropdown-menu > .user-footer {
    background-color: #222; }
    .navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
      background-color: #fff; } }
